/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 .625em .625em; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 .625em .625em 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #F4F4EF;
  font-size: 1.625em;
  line-height: 1.4;
  color: #ACBEBE;
  font-family: 'Gobold';
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
  margin: 0 auto;
}

header {
  height: 30em;
  background: url(../images/womanweight.jpg) no-repeat top center;
  display: block;
  background-size: cover;
  padding-top: 1.5625em;
/*  clear: both;*/
/*  padding-left: 1.5625em;*/
}

.navbar {
  font-size: 1.5em;
  background: white;
  opacity: .5;
  padding-left: 1.5625em;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

nav ul {
  display: inline;
  float: right;
}

nav {
  display: inline;
}

.navbar#logo {
  float: left;
}

.navbar ul li {
  padding: .5em;
  background: white;
  float: left;
}

div.navbar a {
  text-decoration: none;
  color: #F4F4EF;
  border: 1px solid #A01D26;
  border-radius: 1.563em;
  padding: .25em;
  background: #A01D26;
}

div.navbar li {
  margin-top: .65em;
}

h1 {
  font-size: 2.5em;
  text-align: left;
  color: #F4F4EF;
  margin: 1.75em 2em 0 2em;
  padding-right: 2.5em;
}

h2 {
  font-size: 2.5em;
  text-align: left;
  margin-left: 2.5em;
}

.apple {
  padding: 2em 2em 2em 8em;
}

.google {
  padding: 2em 2em;
}

#hero {
  height: 25em;
  background-color: #ACBEBE;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#hero h2 {
  color: #A01D26;
  float: left;
  padding-top: 1.5em;
}

/*#hero ul {
  justify-content: left;
  float: right;
}*/

#hero ul li {
  float: right;
  display: inline-block;
  list-style: none;
  font-size: 1.5em;
  text-align: left;
  color: #A01D26;
  font-family: 'Gobold thin';
  margin-right: 1.5em;
  padding-top: 1.5em;
}

.features li {
  display: inline;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 6em;
}

.phone {
  float: left;
  display: inline-block;
  margin: 1em 2em 4em 4em;
  clear: both;
}

.icon {
  color: #A01D26;
  padding-right: .5em;
}

#reviews {
  background: url(../images/barbello.png) no-repeat top center;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.button {
  border-radius: .3125em;
  padding: .45em .45em;
  width: 25%;
  font-size: 1.5em;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.maroon {
  background: #ACBEBE;
  color: #F4F4EF;
}

#reviews h2 {
  color: #A01D26;
  padding: .5em 0;
  width: 40%;
}

.review1 {
  width: 100%;
  float: right;
}

.review2 {
  width: 100%;
  float: left;
}

.review3 {
  width: 100%;
  text-align: center;
  float: right;
}

.stars {
  display: block;
  margin: auto;
  width: 20%;
  opacity: .8;
}

.review3 .stars {
  width: 15%;
}

blockquote {
  font-family: 'Gobold thin';
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 1em 1em;
  color: #A01D26;
}

blockquote span {
  display: inline-block;
  font-style: normal;
  font-size: .5em;
}

#bottom-cta {
  background: #A01D26;
  padding: 2.0625em 0 2.8125em;
  text-align: center;
}

#sticky-social {
   left: 0;
   position: fixed;
   top: 12.375em;
}
#sticky-social a {
   background: #333;
   color: #F4F4EF;
   display: block;
   height: 2.25em;
   font: 1em "Gobold", sans-serif;
   line-height: 2.25em;
   position: relative;
   text-align: center;
   width: 2.25em;
}
#sticky-social a span {
   line-height: 2.25em;
   left: -7.5em;
   position: absolute;
   text-align:center;
   width: 7.5em;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class*="home"],
#sticky-social a[class*="home"]:hover,
#sticky-social a[class*="home"] span { background: #A01D26; }  

#sticky-social a[class*="features"],
#sticky-social a[class*="features"]:hover,
#sticky-social a[class*="features"] span { background: #ACBEBE; }

#sticky-social a[class*="reviews"],
#sticky-social a[class*="reviews"]:hover,
#sticky-social a[class*="reviews"] span { background: #20232A; }

#sticky-social a[class*="sign-up"],
#sticky-social a[class*="sign-up"]:hover,
#sticky-social a[class*="sign-up"] span { background: #A01D26; }   

footer {
  background: #20232A;
  padding: 1.0625em 0 1.8125em;
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 1.625em 1.6875em;
}

footer a {
  color: #F4F4EF;
}

footer img {
  padding: .5em;
}

.social {
  height: 3em;
  width: 3em;
}

footer p {
  font-size: 1.125em;
  color: #A01D26;
}

